header{
	background: linear-gradient(180deg, #0181CA 0%, #01A4E8 100%);
	height: 54.06px;
	line-height: 54.06px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 768px;
}
main{
	max-width: 768px;
}
.logo{
	width: 40%;
}
.wrap-menu{
	max-width: 768px;
	display: flex;
	flex-direction: row;
}
.list-block-wrap{
	width: 85%;
}
.menu-block{
	width: 15%;
	background: linear-gradient(180deg, #0181CA 0%, #01A4E8 100%);
	text-align: center;
	max-height: 48px;
	line-height: 48px;
}
.list-block{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 0;
	background: #FFBB00;
	border-bottom: 0.25px solid #292929;
}
.list-img{
	width: 10%;
	text-align: center;
}
.list-tittle{
	width: 82%;
	font-family: Roboto;
	font-size: 14px;
	color: #000000;
}
.adress-wrap{
	background: linear-gradient(180deg, #0181CA 0%, #01A4E8 100%);
}
.adress-wrap .list-block{
	background: none;
}
.adress-block{
	border: none;
}
.viber{
	background: #834995;
}
.adress-tittle{
	color: #FFFFFF;
}
.drop-down{
	background: #FDFDFD;
}

.search{
	background: #F3F3F3;
	border-radius: 10px;
	width: 80%;
	height: 40px;
	line-height: 40px;
	font-size: 12.9973px;
	color: #666666;
	font-family: Roboto;
	font-weight: bold;
}

.search img{
	vertical-align: middle;
	padding: 0 20px;
}
.wrap-login{
	margin: auto;
	width: 80%;
}
.login-tittle{
	font-family: Roboto;
	font-size: 19px;
	color: #080808;
	padding: 30px 0 20px 0;
 }
.login-field{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.field{
	padding: ;
	font-family: Roboto;
	font-size: 14px;
	color: #080808;
	border-bottom: 1px solid #3E82FE;
	padding-bottom: 10px;
}
.field-text{
	font-family: Roboto;
	font-size: 12px;
	color: #7B7B7B;
	padding-bottom: 10px;
	padding-top: 20px;
}
.btn{
	background: #FFBB00;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	padding: 15px;
}
.btn-login{
	font-family: Roboto;
	font-size: 16px;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
	margin-top: 30px;
}
.btn-facebook{
	font-family: Roboto;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	background: #3B5998;
}
.btn-facebook img{
	vertical-align: middle;
    padding: 0 20px 0 0;
}
.field-or{
	text-align: center;
	padding-top: 25px;
    padding-bottom: 20px;
}
.field-or:after{
	content: "";
	display: inline-block;
	position: relative;
	width: 60px;
	background: #EDEDED;
	height: 1px;
	left: 20px; 
	top:-2px;
}
.field-or:before{
	content: "";
	display: inline-block;
	position: relative;
	width: 60px;
	background: #EDEDED;
	height: 1px;
	right:  20px;
	top:-2px;
}
.sign-in{
	padding: 20px 0 30px;
	font-family: Robot;
	color: #323334;
}
.sign-in a{
	text-decoration: none;
	color: #3E82FE;
}
.wrap-block{
	max-width: 768px;
	border-radius: 6px;
}
.block-tittle{
	font-family: Roboto;
	font-size: 26px;
	text-align: center;
	color: #080808;
	border-bottom: 1px solid #EDEDED;
	position: relative;
	padding: 20px 0;
}
.tittle-img {
	position: absolute;
	bottom: 38px;
    right: 6px;
}
.block-btn{
	width: 70%;
	margin: auto;
	background: #FFBB00;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	font-family: Roboto;
	font-size: 16px;
	text-align: center;
	color: #000000;
	padding: 20px;
}
.block-checkbox{
	width: 80%;
    margin: auto;
}
.checkbox{
	display: none;
}
.checkbox-custom{
	position: relative;
	width: 26px;
	height: 26px;
	border-radius: 2px;
	border: 1px solid #BECAD6;
	background: #fff;
	margin: auto;
}
.checkbox-custom,
.checkboxlabel {
	vertical-align: middle;
	display: inline-block;
	font-size: 20px;
	color: #393F45;
	font-family: SF Pro Text;
}
.checkboxlabel img{
	padding: 0 10px;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before{
	content: "✓";
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom:0px;
	left: 0px;
	background: #FFBB00;
	text-align: center;
}
.block-checkbox{
	display:flex;
	flex-direction: column;
	margin-top: 20px;
}
.block-checkbox label{
	margin-bottom: 20px;

}
.fon{
	width: 15px;
	height: 15px;
	border-radius: 2px;
	display: inline-block;
    margin: 0 10px 0 10px;
}
.black{
	background: #000000;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.grey{
	background: #696969;
	box-shadow: 0px 1px 2px rgba(105, 105, 105, 0.25);
}
.red{
	background: #FF0000;
	box-shadow: 0px 1px 2px rgba(255, 0, 0, 0.25);
}
.broun{
	background: #8B4513;
	box-shadow: 0px 1px 2px rgba(139, 69, 19, 0.25);
}
.burgundy{
	background: #880000;
	box-shadow: 0px 1px 2px rgba(136, 0, 0, 0.25);
}
.white{
	background: #F7F7F7;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}